body {
  padding: 0px;
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;;
  color: rgb(19, 16, 16);


}

/* Global */
.container {
}

ul {

}
.button_1{

}


/* Header **/
header {
  width: 100%;
  background-color: rgb(167, 95, 14);
  display: inline-block;
  border-bottom: 3px solid  rgb(218, 51, 21);
}

header a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(3, 22, 19);
}

header li {
  display: inline-block;
  margin: 0 10px;
}

header #branding {
}

header #branding h1 {
}

header nav{
  float: right;
  margin-top: -70px;
  margin-right: 50px;

}

header .highlight,
header .current a {
  color: white;
}

header a:hover{
  background-color: greenyellow;
  color: hotpink;
}

footer {
  background-color: rgb(206, 176, 76);
  text-align: center;/* padding-left: 500px; */
  height: 80px;
  line-height: 80px;
  font-size: 18px;
} 

#newsletter form input[type="email"],
.quote input,
.quote textarea {
  width: 100%;
  margin: 8px 0;
}
