body{
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(19, 16, 16);
}

/* Global */
section .container{
    margin: 50px;
}

ul{
  

}



/* Header **/
header{
   background-color: rgb(167, 95, 14);
   border-bottom: 3px solid  rgb(218, 51, 21);
    height: 100px;
    /* margin: 0px; */

}

header a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(3, 22, 19);
    font-family:Arial, Helvetica, sans-serif;

}

header li{
    display: inline-block;
    margin: 0 10px;

}

header #branding{
  

}

header #branding h1{
    display: inline-block;
    margin-left: 50px;
    line-height: 50px;

    color: rgb(3, 22, 19);
    font-family:Arial, Helvetica, sans-serif;

}

header nav{
    float: right;
    margin-top: -70px;
    margin-right: 50px;

}

header .highlight, header .current a{
    color: white;

}

header a:hover{
    background-color: greenyellow;
    color: hotpink;
}

/* Showcase */
#showcase{
    background-image: url(../img/showcase.jpg);
    height: 450px;
    background-position: center;
    padding: 10px;
}

#showcase h1{
    font-size: 50px;
    text-align:center;
    font-style:oblique;
    color:rgb(255,255,255);


}

#showcase p{
    font-style:oblique;
    font-size: 30px;
    text-align:center;
    color: white;
}


footer{
     background-color: rgb(206, 176, 76);
    height: 60px;
    text-align: center;/* padding-left: 500px; */
    padding-top: 30px;
    font-size: 18px;

}
