body{
    padding:0px; 
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(19, 16, 16);
}

/* Global */
section .container{
    margin: 50px;
}


ul{
  
}


.button_1{
    height: 28px;
    background-color: rgb(64, 128, 212);

}

.dark{
    background-color: rgb(191, 202, 182);
    padding: 30px;
    
}

/* Header **/
header{
    width: 100%;
    background-color: rgb(167, 95, 14);
    display: inline-block;
    border-bottom: 3px solid  rgb(218, 51, 21);
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(3, 22, 19);

}

header li{
    display: inline-block;
    margin: 0 10px;
}

header #branding{
  
}

header #branding h1{
    display: inline-block;
    margin-left: 50px;
    line-height: 50px;
    color: rgb(3, 22, 19);
}

header nav{
    float: right;
    margin-top: -70px;
    margin-right: 50px;
}

header .highlight, header .current a{
    color: white;
}

header a:hover{
    background-color: greenyellow;
    color: hotpink;
}

/* Showcase */
#showcase{
    background-image: url(../img/showcase.jpg);
    height: 450px;
    background-position: center;
    padding: 10px;
}

#showcase h1{
    font-size: 50px;
    text-align:center;
    font-style:oblique;
    
    color:rgb(255,255,255);
}

#showcase p{
    font-style:oblique;
    font-size: 30px;
    text-align:center;
    color: white;
}

/* Newsletter */
#newsletter{
    background-color: rgb(196, 255, 240);
    height: 80px;
    padding-top: 10px;
}

#newsletter h1{
    font-family:Arial, Helvetica, sans-serif;
    margin-top:-30px;
}

#newsletter form {
    float: right;
    margin-top: -50px;
    margin-right: 150px;

}

#newsletter input[type="email"]{
    border: 2px solid  rgb(79, 149, 214);
    height: 24px;
    width: 300px;
}

/* Boxes */
#boxes{
    text-align: center;
}

#boxes .box{
    display: inline-block;
    width: 20%;
    margin: 0 60px;
}

#boxes .box img{
    width: 80px;    
}

/* Sidebar */
aside#sidebar{
    float: right;
    width: 400px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 100%;
}

/* Main-col */
article#main-col{
    display: inline-block;
    width: 600px;
}


footer{
    background-color: rgb(79, 155, 218);
    text-align: center;/* padding-left: 500px; */
    height: 80px;
    line-height: 80px;
    font-size: 18px;
}
