body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(19, 16, 16);

}

/* Header **/
header {
width: 100%;
background-color: rgb(167, 95, 14);
display: inline-block;
border-bottom: 3px solid  rgb(218, 51, 21);
}

footer {
background-color: rgb(206, 176, 76);
text-align: center;/* padding-left: 500px; */
height: 80px;
line-height: 80px;
font-size: 18px;
} 
